:root{
  --background: #1a1d20;
  --accent: #8957ff;
  --text: #6c2dff;
  --textFade: #6c2dffb6;
  --textExcited: #ffffff;
}

body{
  background: var(--background);
  color: var(--text);
  margin-left: 8%;
  margin-right:8%;
}
li{
  list-style: none !important;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textExcited)!important;
  font: 1.5rem 'Roboto', sans-serif;
  
}

.type{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textFade)!important;
  font: 1.5rem 'Roboto', sans-serif;
}
.typed{
  color: var(--textFade)!important;
}