:root{
  --background: #101316;
  --accent: #8957ff;
  --text: #8884d8;
  --textFade: #8884d8;
  --textExcited: #ffffff;
  --textDull: #ffffff10;
  --textWrong: #d81c1c;
  --textCorrect: #f700ff;
  --textExtra: #941a1a;
}

body{
  background: var(--background);
  color: var(--text);
  margin-left: 8%;
  margin-right:8%;
}
li{
  list-style: none !important;
}
letter{
  margin-right:0.1rem
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textExcited)!important;
  font: 1.5rem 'Roboto', sans-serif;
  
}

.type{
  display: flex;
  justify-content: left !important;
  align-items: center;
  text-align: center;
  font: 1.5rem 'Roboto', sans-serif;
  margin-top: 25%;
  margin-bottom: 30%;
  flex-wrap: wrap;
}
.type:focus{
  outline:none;
}
.faded{
  color: var(--textFade);
}

.word{
  margin-right:10px
}

.correct{
  color: var(--textCorrect)
}
.incorrect{
  color: var(--textWrong)
}
.extra{
  color: var(--textExtra)
}

#caret{
  border-radius: .5rem;
  width: 0.1em;
  height: 1.6rem;
  background: var(--textExcited);
  position: absolute;
  animation: caretFlash 1s infinite;
}
@keyframes caretFlash
{
  0%{
    opacity: 0%;
  }
  50%
  {
  opacity: 100%;
  }
  100%{
    opacity:0%;
  }
}